#root{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    align-items: center;
}
.header{
    display: flex;
    gap: 20px;
}
.todo{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.head{
    margin-left: 10px;
}
.inputBox{
    margin-left: 100px;
    width: 500px;
    display: flex;
    gap: 15px;
}
.input{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #848484;
}
.inputBox button{
    width: 100px;
    height: 43px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(93, 166, 255);
    border: none;
    border-radius: 5px;
}
.output{
    margin-top:20px;
    width: 400px;
    padding: 10px;
    height: 40px;
    margin-left: 20px;
    border: 3px solid #848484;
}